<div class="container-fluid add--hospital--wrapper clr--001f2b">
    <div class="row">
        <div class="col-12">
            <button mat-stroked-button class="btn-md back--btn mb-3" [routerLink]="['/super-admin/manage-hospitals']">
                <mat-icon class="m-0 text-primary">keyboard_backspace</mat-icon>
            </button>
        </div>
        <div class="col-12">
            <div class="outer--box">
                <form [formGroup]="addHospitalForm">
                    <div class="form--box">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="font-18 font-bold mb-4 mt-1"><span *ngIf="isEdit">Update</span><span *ngIf="!isEdit">Add</span> Hospital</h1> 
                            </div>
                            <div class="col-12 d-flex align-items-start justify-content-between mb-4"> 
                                <h2 class="font-18 font-bold mb-0">Hospital Details</h2>
                                <div class="d-flex align-items-center">
                                    <label class="font-14 font-bold m-0"> Status: </label> 
                                    <mat-chip class="{{ toggleText }}">{{ toggleText }}</mat-chip> 
                                    <mat-slide-toggle class="" (change)="onToggleChange($event)"> </mat-slide-toggle>
                                </div>
                            </div>
                            
                            <div class="col-12 col-lg-6">
                                <mat-form-field appearance="outline" class="w-100 ">
                                    <mat-label>Hospital name</mat-label>
                                    <input matInput placeholder="Hospital name" (keyup)="firstCapitalize($event)" maxlength="256" formControlName="name" required>
                                    <mat-error *ngIf="form?.name?.errors?.['required'] && form?.name?.touched">{{ validationMessages.required('Hospital Name') }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                                <mat-form-field appearance="outline" class="w-100 ">
                                    <mat-label>Address line 1</mat-label>
                                    <input matInput placeholder="Address line 1" formControlName="addressOne" required>
                                    <mat-error *ngIf="form?.addressOne?.errors?.['required'] && form?.addressOne?.touched">{{ validationMessages.required('Address Line 1') }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                                <mat-form-field appearance="outline" class="w-100 ">
                                    <mat-label>Address line 2</mat-label>
                                    <input matInput placeholder="Address line 2" formControlName="addressTwo">
                                    <!-- <mat-error *ngIf="addressTwo.hasError('required')">Address line 2 required</mat-error> -->
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                                <mat-form-field appearance="outline" class="w-100 ">
                                    <mat-label>City</mat-label>
                                    <input type="text" matInput placeholder="City" (keyup)="firstCapitalize($event)" formControlName="city" required>
                                    <mat-error *ngIf="form?.city?.errors?.['required'] && form?.city?.touched">{{ validationMessages.required('City') }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                                <mat-form-field appearance="outline" class="w-100 ">
                                    <mat-label>State</mat-label>
                                    <input type="text" matInput placeholder="State" (keyup)="firstCapitalize($event)" formControlName="state" required>
                                    <mat-error *ngIf="form?.state?.errors?.['required'] && form?.state?.touched">{{ validationMessages.required('State') }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                                <mat-form-field appearance="outline" class="w-100 ">
                                    <mat-label>Zip Code</mat-label>
                                    <input maxlength="5" matInput placeholder="Zip Code" formControlName="zipcode" required>
                                    <mat-error *ngIf="form?.zipcode?.errors?.['required'] && form?.zipcode?.touched">{{ validationMessages.required('Zip Code') }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                                <mat-form-field appearance="outline" class="w-100 ">
                                    <mat-label>Contact number</mat-label>
                                    <input matInput imask="(000) 000-0000" placeholder="Contact number" formControlName="hphone"
                                        required>
                                        <mat-error *ngIf="form?.hphone?.errors?.['required'] && form?.hphone?.touched">{{ validationMessages.required('Contact Number') }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                                <mat-form-field appearance="outline" class="w-100 ">
                                    <mat-label>Email address</mat-label>
                                    <input type="email" matInput placeholder="Email address" formControlName="hemail" required>
                                    <mat-error *ngIf="form?.hemail?.errors?.['required'] && form?.hemail?.touched">{{ validationMessages.required('Hospital Email Address') }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12">
                                <h2 class="font-18 font-bold mt-2 mb-3">Hospital Admin Details</h2>
                            </div>
                            <div class="col-12 col-lg-6">
                                <mat-form-field appearance="outline" class="w-100 ">
                                    <mat-label>First Name</mat-label>
                                    <input matInput placeholder="First Name" (keyup)="firstCapitalize($event)" formControlName="firstName" required>
                                    <mat-error *ngIf="form?.firstName?.errors?.['required'] && form?.firstName?.touched">{{ validationMessages.required('First Name') }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                                <mat-form-field appearance="outline" class="w-100 ">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput placeholder="Last Name" (keyup)="firstCapitalize($event)" formControlName="lastName" required>
                                    <mat-error *ngIf="form?.lastName?.errors?.['required'] && form?.lastName?.touched">{{ validationMessages.required('Last Name') }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                                <mat-form-field appearance="outline" class="w-100 ">
                                    <mat-label>Email</mat-label>
                                    <input type="email" matInput placeholder="Email" (keyup)="checkUserEmails()" formControlName="email" required>
                                    <mat-error *ngIf="form?.email?.errors?.['required'] && form?.email?.touched">{{ validationMessages.required('Email Address') }}</mat-error>
                                    <mat-error class="gene-block" *ngIf="addHospitalForm.controls['email'].hasError('isEmailExist')">
                                        {{ validationMessages.emailAlreadyRegistered }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                                <mat-form-field appearance="outline" class="w-100 ">
                                    <mat-label>Mobile Number</mat-label>
                                    <input matInput imask="(000) 000-0000" placeholder="Mobile number" formControlName="phone"
                                        required>
                                        <mat-error *ngIf="form?.phone?.errors?.['required'] && form?.phone?.touched">{{ validationMessages.required('Mobile Number') }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 mb-2" *ngIf="isEdit && this.isCompleteSignup=='Pending'">
                                <button class="btn-md me-3" mat-raised-button color="primary" (click)="resendInviteHospitalAdmin()">Resend invite</button>
                                <button class="btn-md" mat-raised-button color="warn" (click)="cancelInviteHospitalAdmin()">Cancel invite</button>
                            </div>
                        </div>
                    </div>
                    <div class="form--box border-0">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end">
                                <button class="btn-md" [disabled]="addHospitalForm.invalid" (click)="alertModal()" mat-raised-button color="primary"> Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>